<div class="row">
  <div class="col-sm-3 col-xs-12 dashboard-nav">

      <div class="row" id="dashboard-admin-field">
        <div class="col-sm-12 col-xs-6">
          <img src="http://api.randomuser.me/portraits/men/90.jpg" class="img-responsive img-circle" />
        </div>
        <div class="col-sm-12 col-xs-6 text-center">
          <p>
            Welcome Admin!
          </p>
          <p>
            <b>Don't forget to post the tips for the week!</b>
          </p>
        </div>
      </div>
      <div class="row" id="dahsboard-button-field">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Tips</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <%= link_to "Post Tips", new_tip_path(format: :js), remote: true, class: "btn btn-primary", id: "new_tip_link" %>
                <%= link_to "View Tips", tips_path(format: :js), remote: true, class: "btn btn-primary", id: "view_tip_link" %>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Users</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Registered: 
                </p>
                <p>
                  Recent Registrations:
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="col-sm-9 col-xs-12">
    <div class="page-header text-center"><h4><b>DASHBOARD</b></h4></div>
    <div id="dashboard-view"></div>
  </div>
</div>
