html, body{
  height: 100;
}

.nav-background {
  background: transparent;
  background: url("/assets/bg-image.png") repeat #dfe9ed;
}

.red {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.background-image {
  background: url("/assets/bg-image.png") repeat #dfe9ed;
  display: block;
  height: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.45);
  z-index: 0;
}

.table-responsive
{
    overflow-x: auto;
}

.checkbox-pending {
  background-color: orange;
}

.checkbox-win {
  background-color: green;
}

.checkbox-lose {
  background-color: red;
}
/**
PAGE WIDE CSS ENDS HERE
**/


/**
DASHBOARD CSS BEGINS HERE
**/

.dashboard-background {
  background: url("/assets/dashboard-image.png") repeat #dfe9ed;
  display: block;
  height: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.nav-dashboard {
  background: transparent;
}

.dashboard-nav {
  background: #27dbdb;
}



/**
DASHBOARD CSS ENDS HERE
**/

.home-top {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/home-top-image.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

.home-middle {
  background-color: #3498db;
}

.home-bottom {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/home-bottom-image.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.home-bottom-text {
  color: #fff;
}

.home-top-center {
  margin-top: 5%;
}

.intro-section {
  text-align: left;
}

.intro-section-buttons {
  margin-top: 20px;
}

.home-bottom-up-text {
  margin-top: 2%;
}

.home-bottom-down-text {
  text-align: center;
  margin-top: 5%;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 10px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 15px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

.panel-default:hover {
  border-color: #1380e4;
  border-width: 2px;
}

.best-offer {
  border-color: #1380e4;
  border-width: 2px;
}
